{{- $mise := joinPath .chezmoi.homeDir ".local/bin/mise" -}}

{{ output $mise "activate" "nu" }}

use theme.nu
use prompt.nu
use starship.nu
overlay use aliases.nu

$env.config.edit_mode = vi
$env.config.show_banner = false
