source ~/.config/nushell/default_config.nu

$env.config = (
  $env.config
  | upsert edit_mode vi
  | upsert show_banner false
)

overlay use aliases.nu

use mise.nu
use theme.nu
use prompt.nu
use starship.nu
