[user]
{{- if and .github.id .github.name .github.login }}
    name = {{ .github.name | quote }}
    email = {{ printf "%v+%s@users.noreply.github.com" .github.id .github.login | quote }}
{{- end }}
    signingkey = ~/.ssh/id_ed25519.pub
