[user]
{{- with (.github | default (dict "id" "" "name" "" "login" "")) -}}
{{- if and .id .name .login }}
    name = {{ .name | quote }}
    email = {{ printf "%v+%s@users.noreply.github.com" .id .login | quote }}
{{- end }}
{{- end }}
    signingkey = ~/.ssh/id_ed25519.pub
