{{- $interactive := true -}}
{{- /* Detect headless */ -}}
{{- if env "HEADLESS" -}}
{{- $interactive = false -}}
{{- /* Detect Coder */ -}}
{{- else if env "CODER_RUNTIME" -}}
{{- $interactive = false -}}
{{- /* Detect GitHub Codespaces */ -}}
{{- else if env "CODESPACES" -}}
{{- $interactive = false -}}
{{- /* Detect VSCode remote containers */ -}}
{{- else if env "REMOTE_CONTAINERS_IPC" -}}
{{- $interactive = false -}}
{{- else -}}
{{- /* Assume interactivity */ -}}
{{- $interactive = true -}}
{{- end -}}

{{- $user := env "USER" -}}
{{- if $interactive -}}
{{- $user = promptString "User" }}
{{- else -}}
{{- $user = coalesce (env "CODER_USERNAME") (env "USER") .chezmoi.username -}}
{{- end -}}

{{- $name := env "NAME" -}}
{{- if $interactive -}}
{{- $name = promptString "Name" }}
{{- else -}}
{{- $name = coalesce (env "CODER_USERNAME") (env "NAME") .chezmoi.username -}}
{{- end -}}

{{- $email := env "EMAIL" -}}
{{- if $interactive -}}
{{- $email = promptString "Email" }}
{{- else -}}
{{- $email = coalesce (env "CODER_USER_EMAIL") (env "EMAIL") (printf "%s@%s" .chezmoi.username .chezmoi.fullHostname) -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"
data:
  user: "{{ $user }}"
  name: "{{ $name }}"
  email: "{{ $email }}"