{{- $user := env "USER" -}}
{{- if stdinIsATTY -}}
{{- $user = promptString "Username" }}
{{- else -}}
{{- $user = coalesce (env "CODER_USERNAME") (env "USERNAME") (env "USER") .chezmoi.username -}}
{{- end -}}

{{- $name := env "NAME" -}}
{{- if stdinIsATTY -}}
{{- $name = promptString "Name" }}
{{- else -}}
{{- $name = coalesce (env "CODER_USERNAME") (env "GITPOD_GIT_USER_NAME") (env "NAME") .chezmoi.username -}}
{{- end -}}

{{- $email := env "EMAIL" -}}
{{- if stdinIsATTY -}}
{{- $email = promptString "Email" }}
{{- else -}}
{{- $email = coalesce (env "CODER_USER_EMAIL") (env "GITPOD_GIT_USER_EMAIL") (env "EMAIL") (printf "%s@%s" .chezmoi.username .chezmoi.group) -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"
data:
  user: "{{ $user }}"
  name: "{{ $name }}"
  email: "{{ $email }}"

scriptEnv:
    ENV: $HOME/.profile
