# Ignore everything
*

# Whitelist dotfiles
!.config/nvim
!.default-npm-packages
!.default-python-packages
!.dircolors
!.docker/config.json
!.eslintrc.json
!.gitconfig
!.gitignore
!.gvimrc
!.hyper.js
!.inputrc
!.mackup.cfg
!.mrconfig
!.prettierrc
!.profile
!.ssh/config
!.taskrc
!.tern-config
!.tmux-statusline-colors.conf
!.tmux.conf
!.tool-versions
!.vim-plugins
!.vimrc
!.xinitrc
!.zaliases
!.zlogin
!.zlogout
!.zopts
!.zpath
!.zprofile
!.zsh-plugins
!.zshenv
!.zshrc
!.zvars

# Whitelist other files
!Brewfile
