# Ignore all files
*

# Do not ignore dot files
!.*

# Ignore certain dot files
.bash_history
.dotfiles
.fasd
.node_repl_history
.ssh
.nvm
.nviminfo
.nvimlog
.nvim
.vim
.viminfo
.vim_local_rc_cache
.zhistory
.zprezto
.zcompdump*
.sudo_as_admin_successful
.linuxbrew
.wakatime.*
.xo-cache
.standard-cache
