# Language
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8

# 10ms for key sequences
export KEYTIMEOUT=1

# Terminal
export CLICOLOR=YES

# Theme from https://materialshell.carloscuesta.me
# LS colors, made with http://geoff.greer.fm/lscolors
export LSCOLORS="exfxcxdxbxegedabagacad"
export LS_COLORS='di=34:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=0;41:sg=0;46:tw=0;42:ow=0;43:'
export GREP_COLOR='1;33'

# Editors
export EDITOR="nvim"
export VISUAL="nvim"

# Use VIM for manpages
export MANPAGER="nvim -c 'set ft=man' -"

# XDG
export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DESKTOP_DIR="$HOME/Desktop"
export XDG_DOCUMENTS_DIR="$HOME/Documents"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"
export XDG_MUSIC_DIR="$HOME/Music"
export XDG_PICTURES_DIR="$HOME/Pictures"
export XDG_PUBLICSHARE_DIR="$HOME/Public"
export XDG_TEMPLATES_DIR="$HOME/Templates"
export XDG_VIDEOS_DIR="$HOME/Videos"

# Homebrew
{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_PREFIX="/usr/local"
export HOMEBREW_CELLAR="/usr/local/Cellar"
export HOMEBREW_REPOSITORY="/usr/local/Homebrew"
{{- else }}
export HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew"
export HOMEBREW_CELLAR="/home/linuxbrew/.linuxbrew/Cellar"
export HOMEBREW_REPOSITORY="/home/linuxbrew/.linuxbrew/Homebrew"
{{- end }}

# Configure brew bundle
export HOMEBREW_BUNDLE_FILE=$HOME/.Brewfile
export HOMEBREW_BUNDLE_NO_LOCK=true

# asdf
export ASDF_DIR=$HOMEBREW_PREFIX/opt/asdf
export ASDF_DATA_DIR=$ASDF_DIR

# Paths
export PATH=$ASDF_DIR/bin:$ASDF_DIR/shims:$HOMEBREW_PREFIX/bin:$HOMEBREW_PREFIX/sbin:$PATH
export FPATH=$ASDF_DIR/completions:$HOMEBREW_PREFIX/share/zsh/site-functions:$FPATH
export MANPATH=/usr/local/share/man:/usr/X11/share/man:/usr/share/man:$MANPATH:$PATH
