#!/bin/sh
. ./.profile
set -eu

set --

{{ if eq .chezmoi.os "linux" -}}
{{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") }}

{{ if eq .chezmoi.osRelease.id "debian" }}

# Locales
set -- "$@" \
    locales \
    locales-all

{{ end }}

# Used in scripts
set -- "$@" \
    curl

DEBIAN_FRONTEND=noninteractive \
sudo apt-get update && \
sudo apt-get install --yes "$@"

{{ end }}
{{ end }}
