{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "debian" -}}
#!/bin/sh

sudo apt-get update

# Update locale to en_US.UTF-8
# SEE: https://github.com/docker-library/postgres/blob/69bc540ecfffecce72d49fa7e4a46680350037f9/9.6/Dockerfile#L21-L24
sudo apt-get install locales
sudo localedef -i en_US -c -f UTF-8 -A /usr/share/locale/locale.alias en_US.UTF-8

# Install linuxbrew requirements
# SEE: https://docs.brew.sh/Homebrew-on-Linux#debian-or-ubuntu
sudo apt-get install --yes \
    build-essential curl file git \
    # Additionally install ps for shell commands
    procps

# Install python requirements
# SEE: https://github.com/pyenv/pyenv/wiki#suggested-build-environment
sudo apt-get install --yes \
    make build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev \
    libsqlite3-dev wget curl llvm libncurses5-dev xz-utils tk-dev libxml2-dev \
    libxmlsec1-dev libffi-dev liblzma-dev

{{ end -}}
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Remove any existing 2to3 link
rm /usr/local/bin/2to3

{{ end -}}
