#!/bin/sh

. ./.profile

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "ubuntu" }}

# FIXME: Installing perl first as a workaround to postinstall issues on Ubuntu
# Pre-install perl from source to avoid bundle issues
# Perl does not install well, yet is required by many bundles
# See: https://github.com/Homebrew/linuxbrew-core/issues/4808
# This is because glibc removed xlocale.h in 2.26 (https://sourceware.org/glibc/wiki/Release/2.26#Removal_of_.27xlocale.h.27)
# See also: https://bugzilla.redhat.com/show_bug.cgi?id=1464244
brew install --build-from-source perl

{{ end }}

{{ else if eq .chezmoi.os "darwin" }}

# FIXME: The MacOS GitHub runner is getting a conflict on 2to3 in the python install
# See https://github.com/actions/virtual-environments/issues/2322
# Fixed in https://github.com/actions/virtual-environments/pull/2326
# It has not been added to the latest macos runner release (20201212.1) as of 12-30-20
# Remove any existing 2to3 link
rm -f /usr/local/bin/2to3
# This forces brew to overwrite the links
brew install python@3.9 || brew link --overwrite python@3.9

{{ end }}

# Ensure essential bundles are installed
brew bundle --file=/dev/stdin <<EOF
brew "git"
{{ if eq .chezmoi.os "darwin" }}
brew "asdf"
{{ else }}
brew "asdf", args: ["build-from-source"]
{{ end }}
brew "getantibody/tap/antibody"
brew "helm"
brew "krew"
brew "nvim"
brew "tmux"
brew "vivid"
EOF