#!/bin/sh

. ./.profile

{{ if eq .chezmoi.os "linux" }}

set --

{{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") }}
{{ if eq .chezmoi.osRelease.id "debian" }}

# Locales
set -- "$@" \
    locales \
    locales-all

# StrongDM requirements
set -- "$@" \
    unzip

{{ end }}
{{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") }}

# Linuxbrew requirements
# SEE: https://docs.brew.sh/Homebrew-on-Linux#debian-or-ubuntu
set -- "$@" \
    build-essential procps curl file git

sudo apt-get update

sudo apt-get install --yes "$@"

{{ end }}
{{ end }}
