{{ if eq .chezmoi.os "linux" -}}
    cd $(mktemp -d)
    curl -J -O -L https://app.strongdm.com/releases/cli/linux
    unzip *.zip
    # Install fails to start services, but still creates configs
    sudo ./sdm install || true
    mv sdm /usr/local/bin
{{ end -}}
