#!/bin/sh

. ./.profile

{{ if eq .chezmoi.os "linux" }}
{{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") }}

# Install linuxbrew requirements
# SEE: https://docs.brew.sh/Homebrew-on-Linux#debian-or-ubuntu
sudo apt-get install --yes \
    build-essential procps curl file git

{{ end }}
{{ end }}

# Install brew
/bin/bash -c "CI=1 $(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
