#!/bin/sh

. ./.profile

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "debian" }}

# Install python requirements
# SEE: https://github.com/pyenv/pyenv/wiki#suggested-build-environment
sudo apt-get install --yes \
    make build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev \
    libsqlite3-dev wget curl llvm libncurses5-dev xz-utils tk-dev libxml2-dev \
    libxmlsec1-dev libffi-dev liblzma-dev

{{ end }}

{{ else if eq .chezmoi.os "darwin" }}

# Remove any existing 2to3 link
if [ -f /usr/local/bin/2to3 ]
then
    rm /usr/local/bin/2to3
fi

{{ end }}

# FIXME: Installing python first as a workaround to gcloud requiring it
# SEE: https://github.com/jthegedus/asdf-gcloud/blob/master/bin/exec-env#L6
asdf plugin add python
asdf install python 3.6.8
