#!/bin/sh

. ./.profile

{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "debian" -}}
    sudo apt-get install --yes unzip
{{ end -}}
    cd $(mktemp -d)
    curl -J -O -L https://app.strongdm.com/releases/cli/linux
    unzip *.zip
    # Install fails to start services, but still creates configs
    sudo mv sdm /usr/local/bin/sdm
    rm *.zip
{{ end -}}
