#!/bin/sh

. ./.profile

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "ubuntu" }}

{{ end }}
{{ end }}

# Ensure essential bundles are installed
brew bundle --file=/dev/stdin <<EOF
brew "asdf"
brew "git"
brew "antibody"
brew "helm"
brew "krew"
brew "nvim"
brew "tmux"
brew "vivid"
EOF
