#!/bin/sh

. ./.profile

{{ if eq .chezmoi.os "linux" }}

{{ if eq .chezmoi.osRelease.id "debian" }}

# Install python requirements
# SEE: https://github.com/pyenv/pyenv/wiki#suggested-build-environment
sudo apt-get install --yes \
    make build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev \
    libsqlite3-dev wget curl llvm libncurses5-dev xz-utils tk-dev libxml2-dev \
    libxmlsec1-dev libffi-dev liblzma-dev

{{ end }}

{{ else if eq .chezmoi.os "darwin" }}

# FIXME: MacOS 11 has trouble installing python
# Fix from comment: https://github.com/pyenv/pyenv/issues/1643#issuecomment-744068250
IFS='.' read -r -a ver <<< "$(sw_vers -productVersion)"
if [[ "${ver[0]}" -ge 11 ]]; then
    echo "Trying to fix python..."
    export CFLAGS="-I$(brew --prefix openssl)/include -I$(brew --prefix readline)/include -I$(xcrun --show-sdk-path)/usr/include"
    export LDFLAGS="-L$(brew --prefix openssl)/lib -L$(brew --prefix readline)/lib -L$(xcrun --show-sdk-path)/usr/lib -L/usr/local/opt/zlib/lib"
    export CPPFLAGS="-I/usr/local/opt/zlib/include"
    export PKG_CONFIG_PATH="/usr/local/opt/zlib/lib/pkgconfig"
    export PYTHON_CONFIGURE_OPTS="--enable-framework"
fi

{{ end }}

# FIXME: Installing python first as a workaround to gcloud requiring it
# SEE: https://github.com/jthegedus/asdf-gcloud/blob/master/bin/exec-env#L6
asdf plugin add python
asdf install python 3.6.8
