{{ output (print .chezmoi.homeDir "/.local/bin/mise") "activate" "bash" }}

{{ output (print .chezmoi.homeDir "/.local/bin/als") "init" "bash" }}

{{ output (print .chezmoi.homeDir "/.local/bin/mise") "exec" "starship" "--" "starship" "init" "bash" }}

{{ output "pkgx" "--shellcode" }}
