# Env
{{ output "pkgx" "direnv" "hook" "bash" }}
{{ output "pkgx" "direnv" "export" "bash" }}

# Aliases
{{ output (print .chezmoi.homeDir "/.local/bin/als") "init" "bash" }}

# Prompt
{{ output "pkgx" "starship" "init" "bash" }}

# pkgx
{{ output "pkgx" "--shellcode" }}
