set -a

# XDG
source ~/.cache/xdg.sh

# PATH
PATH="$HOME/.local/bin:$HOME/.orbstack/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/usr/sbin:/bin:/sbin"

# pkgx
{{ output "pkgx"
	"+chezmoi.io^2.34"
	"+cli.github.com^2.27"
	"+github.com/junegunn/fzf"
	"+nushell.sh~0.92"
	"+git-scm.org^2.40"
	"+github.com/peltoche/lsd"
	"+crates.io/vivid~0.9"
	"+starship.rs~1.18"
	"+crates.io/gitui"
	"+crates.io/zellij~0.38"
	"+crates.io/git-delta~0.17"
	"+crates.io/ripgrep"
	"+helix-editor.com~24.03"
}}

# LS_COLORS
LS_COLORS={{ output "pkgx" "vivid" "--color-mode" "8-bit" "generate" "one-dark" | trim | quote }}

# Github
GITHUB_USER={{ output "sh" "-c" "pkgx gh api https://api.github.com/user --jq '.login' || true" | trim | quote }}
GIT_AUTHOR_NAME={{ output "sh" "-c" "pkgx gh api https://api.github.com/user --jq '.name' || true" | trim | quote }}
GIT_AUTHOR_EMAIL={{ output "sh" "-c" "pkgx gh api https://api.github.com/user/public_emails --jq '.[0].email' || true" | trim | quote }}
GIT_COMMITTER_NAME=$GIT_AUTHOR_NAME
GIT_COMMITTER_EMAIL=$GIT_AUTHOR_EMAIL

# Bash
BASH_SILENCE_DEPRECATION_WARNING=1

