# XDG
source ~/.cache/xdg.sh

# LS_COLORS
export LS_COLORS="{{ output "pkgx" "vivid" "--color-mode" "8-bit" "generate" "one-dark" }}"

# PATH
export PATH="$HOME/.local/bin:$HOME/.orbstack/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/usr/sbin:/bin:/sbin"

