#!/bin/sh
set -eu

# source sha256: {{ include "dot_config/terminfo/xterm-ghostty.terminfo" | sha256sum }}

mkdir -p "$HOME/.local/share/terminfo"
tic -x -o "$HOME/.local/share/terminfo" "$HOME/.config/terminfo/xterm-ghostty.terminfo"
