#!/bin/sh
set -eu

# symphony HEAD: {{ output "git" "-C" (print .chezmoi.homeDir "/.local/share/symphony") "rev-parse" "HEAD" }}

cd "$HOME/.local/share/symphony/elixir"
mise trust
mise install
mise exec -- mix setup
mise exec -- mix build
