{{- if eq .chezmoi.os "darwin" }}
#!/bin/sh
set -eu

eval "$(mise env --shell bash)"

mise env --shell bash |
while IFS= read -r line; do
    case "$line" in
        export\ *=*)
            name=${line#export }
            name=${name%%=*}
            launchctl setenv "$name" "$(printenv "$name")"
            ;;
    esac
done
{{- end }}
