{{- $github := index . "github" | default (dict) -}}
{{- $login := index $github "login" | default "" -}}
{{- if $login }}
{{- range gitHubKeys $login }}
{{ $login }} {{ .Key }}
{{- end }}
{{- end }}
