{{- $github := index . "github" | default (dict "id" "" "name" "" "login" "") -}}
{{- $login := index $github "login" -}}
{{- if $login }}
{{- range gitHubKeys $login }}
{{ $login }} {{ .Key }}
{{- end }}
{{- end }}
