{{- $mise := joinPath .chezmoi.homeDir ".local/bin/mise" -}}
{{- $aliases := output $mise "exec" "rust" "--" $mise "exec" "cargo:https://github.com/nomyfan/alias-rs@branch:main" "--" "als" "init" "bash" -}}
{{- range $index, $line := splitList "\n" $aliases -}}
   {{- if hasPrefix "alias" $line -}}
        {{- $parts := splitn "=" 2 $line -}}
        {{- $name := $parts._0 -}}
        {{- $value := $parts._1 -}}
        {{- nindent 0 (printf "export %s = %s" $name ($value | replace "\"" "")) -}}
    {{- end -}}
{{- end -}}
