export-env {
  load-env {
    GIT_AUTHOR_NAME: {{ output "gh" "api" "https://api.github.com/user" "--jq" ".name" | trim | quote }}
    GIT_AUTHOR_EMAIL: {{ output "gh" "api" "https://api.github.com/user/public_emails" "--jq" ".[0].email" | trim }}
  }
  load-env {
    GIT_COMMITTER_NAME: $env.GIT_AUTHOR_NAME
    GIT_COMMITTER_EMAIL: $env.GIT_AUTHOR_EMAIL
  }
}
