"$schema" = 'https://starship.rs/config-schema.json'

{{ $mise := joinPath .chezmoi.homeDir ".local/bin/mise" }}
{{ output $mise "exec" "starship" "--" "starship" "preset" "no-nerd-font" }}

[cmd_duration]
disabled = true

[directory]
style = "bold blue"

[git_branch]
symbol = "⎇ "
