{{ $mise := joinPath .chezmoi.homeDir ".local/bin/mise" }}

"$schema" = 'https://starship.rs/config-schema.json'

{{ output $mise "exec" "starship" "--" "starship" "preset" "no-nerd-font" }}

[directory]
style = "blue"

[aws]
disabled = true

[gcloud]
disabled = true

[git_branch]
symbol = "⎇ "

[cmd_duration]
disabled = true

[shell]
disabled = false
style = "bright-black"

[character]
success_symbol = "[❯](purple)"

