{{ $mise := joinPath .chezmoi.homeDir ".local/bin/mise" }}

{{ output $mise "activate" "zsh" }}

{{ output (print .chezmoi.homeDir "/.local/bin/als") "init" "zsh" }}

{{ output $mise "exec" "starship" "--" "starship" "init" "zsh" }}

{{ output "pkgx" "--shellcode" }}
