{{ output (print .chezmoi.homeDir "/.local/bin/mise") "activate" "zsh" }}

{{ output (print .chezmoi.homeDir "/.local/bin/als") "init" "zsh" }}

{{ output "pkgx" "starship" "init" "zsh" }}

{{ output "pkgx" "--shellcode" }}
