# pkgx
{{ output "pkgx"
	"+chezmoi.io^2.34"
	"+direnv.net^2.35.0"
	"+cli.github.com^2.27"
	"+github.com/junegunn/fzf"
	"+nushell.sh~0.98"
	"+git-scm.org^2.40"
	"+github.com/peltoche/lsd"
	"+crates.io/vivid~0.9"
	"+starship.rs~1.18"
	"+crates.io/gitui"
	"+crates.io/zellij~0.40.1"
	"+crates.io/git-delta~0.17"
	"+crates.io/ripgrep"
	"+helix-editor.com~24.03"
	"+nodejs.org"
}}
