{{ output "mise" "exec" "fnox" "--" "fnox" "activate" "fish" }}
{{ output "mise" "exec" "pitchfork" "--" "pitchfork" "activate" "fish" }}
{{ output "mise" "exec" "github:max-sixty/worktrunk" "--" "wt" "config" "shell" "init" "fish" }}
{{ output "mise" "exec" "starship" "--" "starship" "init" "fish" }}

set --universal fish_greeting
set --global fish_key_bindings fish_vi_key_bindings
