{{ $mise := joinPath .chezmoi.homeDir ".local/bin/mise" }}

[tools]
gh = "latest"
fzf = "latest"
delta = "latest"
helix = "latest"
gitui = "latest"
cosign = "latest"
chezmoi = "latest"
starship = "latest"
"ubi:lsd-rs/lsd" = "latest"
"aqua:BurntSushi/ripgrep" = "latest"

[env]
_.path = [
    "~/bin",
    "~/go/bin",
    "~/.local/bin",
    "~/.orbstack/bin",
    "/opt/homebrew/bin",
    "/opt/homebrew/sbin",
    "/usr/local/bin",
    "/usr/bin",
    "/usr/sbin",
    "/bin",
    "/sbin"
]

# XDG
XDG_CACHE_HOME = "{{ "{{ env.HOME }}/.cache" }}"
XDG_CONFIG_HOME = "{{ "{{ env.HOME }}/.config" }}"
XDG_DATA_HOME = "{{ "{{ env.HOME }}/.local/share" }}"
XDG_STATE_HOME = "{{ "{{ env.HOME }}/.local/state" }}"

# LS_COLORS
LS_COLORS={{ output $mise "exec" "ubi:sharkdp/vivid" "--" "vivid" "--color-mode" "8-bit" "generate" "one-dark" | trim | quote }}

# GitHub
{{ $output := output "sh" "-c" (print $mise " exec aqua:cli/cli -- gh api https://api.github.com/user 2>/dev/null || true") -}}
{{- if $output -}}
{{- with (fromJson $output) -}}
{{- if and (index . "id") (index . "name") (index . "login") -}}
GITHUB_USER = {{ .login | quote }}
GIT_AUTHOR_NAME = {{ .name | quote }}
GIT_AUTHOR_EMAIL = {{ printf "%v+%s@users.noreply.github.com" .id .login | quote }}
GIT_COMMITTER_NAME = "{{ "{{ env.GIT_AUTHOR_NAME }}" }}"
GIT_COMMITTER_EMAIL = "{{ "{{ env.GIT_AUTHOR_EMAIL }}" }}"
{{- end -}}
{{- end -}}
{{- end }}
