[env]
_.file = "~/.env"
_.path = [
    "~/.local/bin",
    "~/.orbstack/bin",
    "/opt/homebrew/bin",
    "/usr/local/bin",
    "/usr/bin",
    "/usr/sbin",
    "/bin",
    "/sbin"
]

[tools]
gh = "latest"
fzf = "latest"
delta = "latest"
chezmoi = "latest"
ripgrep = "latest"
starship = "latest"
"ubi:lsd-rs/lsd" = "latest"