name: Test install script

on: push

env:
    GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-18.04, ubuntu-20.04, macos-10.15, macos-11.0]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v3
    - name: Run install script
      env:
        NAME: ${{ github.actor }}
        EMAIL: ${{ github.action }}@${{ github.repository_owner }}.com
      run: ./install.sh
