name: Test install script

on: push

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-22.04, ubuntu-24.04, macos-14, macos-15, macos-26]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v5
    - name: Run install script
      run: ./install.sh
