name: Test install script

on: push

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-18.04, ubuntu-latest, macos-latest, macos-11.0]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v2
    - name: Run install script
      env:
        USER: ${{ github.actor }}
        NAME: ${{ github.actor }}
        EMAIL: ${{ github.action }}@${{ github.repository_owner }}.com
      run: ./install.sh
